<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="MaxThreadNum" value="5"/>
    <add key="MaxBlockSize" value="2097152"/>
    <add key="EnableLog" value="false"/>
  </appSettings>
</configuration>
